<launch>
  <!-- For simplicity, assume top-level manager already running -->
  <arg name="manager" />

  <!-- Mimic remapping, so can launch with 'camera:=prosilica' -->
  <arg name="camera" default="camera" />
  
  <!-- Debayer and publish monochrome and color topics -->
  <node pkg="nodelet" type="nodelet" name="debayer" args="load image_proc/debayer $(arg manager)">

  </node>

  
</launch>
