<launch>
  <arg name="manager_name" default="ximea_nodelet_manager" />
  <arg name="camera" default="cam0" />
  <arg name="settings" default="$(find ximea_camera)/config/ximea_mq022.yaml"/>


  <group ns="$(arg camera)">
  <!-- nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen">
  </node>

  <!-- camera driver -->
  <node pkg="nodelet" type="nodelet" name="ximea_nodelet" args="load ximea_camera/ros_nodelet ximea_nodelet_manager _settings_yaml:=$(arg settings)">
  </node>

    <!-- Debayer and publish monochrome and color topics -->
    <node pkg="nodelet" type="nodelet" name="debayer" args="load image_proc/debayer ximea_nodelet_manager">
    </node>
  </group>

</launch>

